@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Montserrat", system-ui, sans-serif;
}

.header {
  min-height: 800px;
  padding: 195px 0 246px 0;
  background: #e1ff8f;
  position: relative;
}
.header__stars-right {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}
.header__stars-left {
  position: absolute;
  z-index: 1;
  top: 69px;
  left: 63px;
}
.header__stars-bottom {
  position: absolute;
  z-index: 1;
  display: none;
}
.header__content {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
.header__title {
  margin-bottom: 24px;
  font-size: 64px;
  font-weight: 700;
  white-space: pre-line;
}
.header__description {
  font-size: 24px;
  line-height: 32px;
  white-space: pre-line;
}
.header__description-bold {
  font-weight: 600;
}
.header__button {
  margin-top: 48px;
  padding: 16px 64px;
  width: 247px;
  height: 66px;
  background-color: black;
  border: 1px solid black;
  border-radius: 60px;
  color: white;
  font-size: 24px;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  display: inline-block;
}
.header__button:hover {
  background-color: #fff;
  color: #000;
}

.main {
  background: #202027;
  position: relative;
}
.main__content, .main__games {
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  padding: 48px 0 146px;
}
.main__section {
  margin: 46px 0 50px;
}
.main__description {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main__title {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 24px;
}
.main__text {
  font-size: 24px;
}
.main__cards {
  display: flex;
  gap: 32px;
  margin-top: 72px;
  position: relative;
  z-index: 2;
}
.main__cards-couple {
  display: flex;
  gap: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.main__card-link {
  display: block;
  transition: transform 0.4s ease;
}
.main__card {
  display: flex;
  gap: 32px;
  flex-direction: column;
  justify-content: space-between;
  color: #000;
  background: #ffffff;
  border-radius: 30px;
  padding-bottom: 36px;
}
.main__card-link:hover {
  transform: scale(1.03);
}
.main__img {
  border-radius: 30px;
  min-width: 100%;
}
.main__card-text {
  max-width: 314px;
  width: 90%;
  margin: 0 auto;
}
.main__card-num {
  display: block;
  padding: 8px 16px 10px;
  margin-bottom: 16px;
  max-width: 115px;
  height: 36px;
  border-radius: 52.58px;
  background-color: #f7f7f7;
  font-size: 16px;
  font-weight: 500;
}
.main__card-name {
  font-weight: 700;
  font-size: 32px;
  white-space: pre-line;
}
.main__cards-starR {
  position: absolute;
  z-index: 1;
  top: 77px;
  right: 0;
}
.main__cards-starL {
  position: absolute;
  z-index: 1;
  top: 771px;
  left: 25px;
}
.main__game-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.main__game {
  width: 100%;
  background: #ffffff;
  color: #000;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  border-radius: 30px;
  scroll-margin-top: 120px;
}
.main__game:first-child {
  margin-top: 72px;
}
.main__game img {
  width: 600px;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__game-description {
  width: 100%;
  padding: 48px;
}
.main__game-title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 16px;
  white-space: pre-line;
}
.main__game-text {
  font-size: 24px;
  white-space: pre-line;
}
.main__game-button {
  margin-top: 36px;
  width: 247px;
  height: 66px;
  background-color: black;
  border: 1px solid black;
  border-radius: 60px;
  color: white;
  font-size: 24px;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}
.main__game-button:hover {
  background-color: #fff;
  color: #000;
}
.main__card-starT {
  position: absolute;
  z-index: 1;
  right: 45px;
  transform: translateY(-30px);
}
.main__card-starB {
  position: absolute;
  z-index: 1;
  right: 52px;
  bottom: 45px;
}

.footer {
  background: #bded35;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__content {
  text-align: center;
}
.footer__text {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}

@media (max-width: 1200px) {
  .header {
    padding: 120px 20px 160px;
  }
  .header__title {
    font-size: 48px;
  }
  .header__description {
    font-size: 20px;
  }
  .header__button {
    padding: 12px 48px;
  }
  .main__content, .main__games {
    padding: 32px 20px 80px;
  }
  .main__title {
    font-size: 48px;
  }
  .main__text {
    font-size: 20px;
  }
  .main__cards {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }
  .main__cards-couple {
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main__card {
    width: 100%;
    max-width: 320px;
    padding-bottom: 24px;
  }
  .main__card-name {
    font-size: 24px;
  }
  .main__card-num {
    font-size: 14px;
  }
  .main__game {
    flex-direction: column;
    align-items: center;
  }
  .main__game img {
    width: 100%;
    max-height: 285px;
    -o-object-fit: cover;
       object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .main__game-title {
    font-size: 36px;
  }
  .main__game-text {
    font-size: 20px;
  }
  .main__game-description {
    padding: 24px;
  }
  .main__game-button {
    margin-top: 24px;
  }
  .footer {
    padding: 40px 20px;
  }
  .footer__text {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .header {
    text-align: center;
  }
  .header__title {
    font-size: 40px;
  }
  .header__description {
    font-size: 16px;
    white-space: normal;
  }
  .header__button {
    width: 285px;
    margin-top: 38px;
    font-size: 16px;
    padding: 20px 0;
  }
  .header__stars-left {
    width: 75px;
    left: 37px;
  }
  .header__stars-bottom {
    display: block;
    right: 34px;
    bottom: 79px;
  }
  .main__content {
    padding-bottom: 10px;
  }
  .main__section-cards {
    display: none;
  }
  .main__title {
    font-size: 40px;
  }
  .main__card-text {
    justify-content: center;
  }
  .main__game:nth-child(odd) {
    flex-direction: column-reverse;
  }
  .main__game:nth-child(odd) img {
    width: 100%;
  }
  .main__game-title {
    font-size: 32px;
  }
  .main__game-text {
    font-size: 16px;
  }
  .main__card-starB, .main__card-starT, .main__cards-starR, .main__cards-starL {
    display: none;
  }
  .footer__text {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */